<template>
  <div class="fullBlock">
    <a-page-header title="高校满意度调查问卷系统" :sub-title="subTitleText" @back="() => this.$router.back()">
      <template #extra>
        <a-button type="" @click="logout()">注销</a-button>
      </template>
      <a-menu v-model="current" mode="horizontal" @click="handleNav">
        <a-menu-item key="projectManage">
          <a-icon type="appstore" />项目管理
        </a-menu-item>
        <a-menu-item key="surveyManage">
          <a-icon type="file-done" />问卷管理
        </a-menu-item>
      </a-menu>

    </a-page-header>
    <div class="page">
      <div id="tableContainer"></div>
    </div>

  </div>
</template>

<script>
import * as SurveyVue from "survey-vue";
import { Tabulator } from "survey-analytics/survey.analytics.tabulator";
import { json, data } from "../data/analytics_data";
import axios from "axios"
import "survey-analytics/survey.analytics.tabulator.css";
import "tabulator-tables/dist/css/tabulator.min.css";


const baseUrl = `${process.env.VUE_APP_BASEURL}`
/* eslint-disable vue/no-unused-components */
export default {
  components: {
    SurveyVue,
  },

  data() {
    const survey = new SurveyVue.Model(json);
    return {
      subTitleText: "问卷结果",
      current: [""],
      survey,
      data,
      surveyJson: "",
      answerJson: [],
      model: null,
    };
  },

  methods: {
    getSurveyContent() {
      const url = baseUrl + "/querySurveyById"
      const surveyId = this.$route.query.surveyId
      const params ={surveyId}
      axios
        .get(url, {
          params
        })
        .then((res) => {
          if (res.data.code == 801) {
            this.surveyJson = JSON.parse(res.data.surveyData.surveyContent)
            this.model = new SurveyVue.Model(this.surveyJson)
          }
          else {
            this.$message.warn("请求失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("请求出错")
        })
    },
    getSurveyAnswer() {
      const url = baseUrl + "/querySurveyResult"
      const surveyId = this.$route.query.surveyId
      const params ={id: surveyId}
      axios
        .get(url, {
          params
        })
        .then((res) => {
          if (res.data.code == 801) {
            console.log("list",res.data.surveyList)
            for(let survey of res.data.surveyList){
              this.answerJson.push(JSON.parse(survey.answer))
            }
            console.log("answer",this.answerJson)
          }
          else {
            this.$message.warn("请求失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("请求出错")
        })
    },
    renderTable() {
      if (this.surveyJson != "" && this.answerJson != "") {
        console.log(json)
        console.log(this.surveyJson)
        console.log(data)
        console.log(this.answerJson)
        var surveyAnalyticsDataTables = new Tabulator(this.model, this.answerJson);
        surveyAnalyticsDataTables.render(document.getElementById("tableContainer"));
      }
    },
    handleNav(e) {
      if (e.key == "projectManage") {
        this.$router.push("/projectTable")
      }
      else if (e.key == "surveyManage") {
        this.$router.push("/surveyTable")
      }
    }


  },

  mounted() {
    this.getSurveyContent()
    this.getSurveyAnswer()

  },
  watch: {
    answerJson: function () {
      this.renderTable()
    },
    surveyJson: function () {
      this.renderTable()
    }

  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
