<template>
  <div class="page">
    <div class="btnArea">
      <template>
        <a-button @click="handleAdd" type="primary">创建群组</a-button>
      </template>
    </div>
    <a-table :dataSource="groupList" :columns="groupColumns"
    :pagination="{ pageSize: 5 }" 
    :rowKey='record => record.id'>
      <template slot="operation" slot-scope="text, record">
        <a-button @click="viewGroup(record.id)">查看</a-button>
        <a-button @click="updateGroup(record.id, record.groupName, record.groupDescription, record.status,record.tenantId)">修改
        </a-button>
        <a-popconfirm v-if="groupList.length" title="确定删除吗?" @confirm="deleteGroup(record.id, record.status)">
          <a-button>删除</a-button>
        </a-popconfirm>
      </template>

      <div slot="filterDropdown" slot-scope="{ setSelectedKeys, selectedKeys, confirm, clearFilters, column }"
        style="padding: 8px">
        <a-input v-ant-ref="c => (searchInput = c)" :placeholder="`Search ${column.dataIndex}`" :value="selectedKeys[0]"
          style="width: 188px; margin-bottom: 8px; display: block;"
          @change="e => setSelectedKeys(e.target.value ? [e.target.value] : [])"
          @pressEnter="() => handleSearch(selectedKeys, confirm, column.dataIndex)" />
        <a-button type="primary" icon="search" size="small" style="width: 90px; margin-right: 8px"
          @click="() => handleSearch(selectedKeys, confirm, column.dataIndex)">
          Search
        </a-button>
        <a-button size="small" style="width: 90px" @click="() => handleReset(clearFilters)">
          Reset
        </a-button>
      </div>
      <a-icon slot="filterIcon" slot-scope="filtered" type="search"
        :style="{ color: filtered ? '#108ee9' : undefined }" />
      <template slot="customRender" slot-scope="text, record, index, column">
        <span v-if="searchText && searchedColumn === column.dataIndex">
          <template v-for="(fragment, i) in text
          .toString()
          .split(new RegExp(`(?<=${searchText})|(?=${searchText})`, 'i'))">
            <mark v-if="fragment.toLowerCase() === searchText.toLowerCase()" :key="i" class="highlight">{{ fragment
            }}</mark>
            <template v-else>{{ fragment }}</template>
          </template>
        </span>
        <template v-else>
          {{ text }}
        </template>
      </template>
      <template slot="footer" >
        <span style="position:absolute;right:40px">
        共 {{groupList.length}} 条
        </span>
      </template>

    </a-table>
  </div>
</template>
<script>

import axios from "axios"
const baseUrl = `${process.env.VUE_APP_BASEURL}`

export default {
  data() {
    return {
      subTitleText: "群组管理",
      current: [""],
      groupList: [],
      groupColumns: [],

      searchText: '',
      searchInput: null,
      searchedColumn: '',

    }
  },


  //method************************************************
  methods: {
    getGroupList() {
      const url = baseUrl + "/queryGroupList"
      let params = {}
      if (this.$store.state.userInfo.role == "user") {
        params = { userId: this.$store.state.userInfo.id }
      } else if (this.$store.state.userInfo.role == "tenant") {
        params = { tenantId: this.$store.state.userInfo.id }
      }

      axios.get(url, {
        params
      })
        .then((res) => {
          if (res.data.code == 801) {
            this.groupList = res.data.groupList

            console.log(this.groupList)
          }
          else {
            this.$message.warn(res.data.message)
          }
        }
        )
        .catch((e) => {
          console.warn(e)
          this.$message.warn("query error")
        })
    },
    deleteGroup: function (id, status) {
      if (status == "open") {
        this.$message.warn("群组内有打开的问卷, 不能删除")
        return
      }
      const url = baseUrl + "/deleteGroup"
      let params = { id }
      axios
        .delete(url, {
          params
        })
        .then((res) => {
          if (res.data.code == 801) {
            this.$message.info("删除成功")
            this.getGroupList();
          }
          else {
            this.$message.warn(res.data.message)
            console.warn(res.data)
          }
        })
        .catch((e) => {
          this.$message.error("请求出错")
          console.warn(e)
        })
    },
    updateGroup: function (id, groupName, groupDescription, status,tenantId) {
      if (status == "open") {
        this.$message.warn("群组内有打开的问卷, 不能修改")
        return
      }
      this.$router.push({ path: "/user/groupForm", query: { id, groupName, groupDescription,tenantId } })
    },

    logout: () => {

    },
    viewGroup: function (groupId) {
      this.$router.push({ path: "/user/replierTable", query: { groupId } })
    },
    handleAdd() {
      this.$router.push("/user/groupForm")
    },
    handleNav(e) {
      if (e.key == "groupManage") {
        this.$router.push("/groupTable")
      }
      else if (e.key == "surveyManage") {
        this.$router.push("/surveyTable")
      }
    },


    handleSearch(selectedKeys, confirm, dataIndex) {
      confirm();
      this.searchText = selectedKeys[0];
      this.searchedColumn = dataIndex;
    },

    handleReset(clearFilters) {
      clearFilters();
      this.searchText = '';
    },






  },
  //hook***************************************
  mounted: function () {
    console.log(this.$store.state.userInfo)
    this.getGroupList();
    this.groupColumns = [
      {
        title: "群组id",
        dataIndex: "id",
        width: "20%",
        defaultSortOrder: 'descend',
        sorter: (a, b) => a.id > b.id,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.id
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "群组名",
        dataIndex: "groupName",
        width: "15%",
        defaultSortOrder: 'descend',
        sorter: (a, b) => a.groupName > b.groupName,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.groupName
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "群组描述",
        dataIndex: "groupDescription",
        width: "20%",
        defaultSortOrder: 'descend',
        sorter: (a, b) => a.groupDescription > b.groupDescription,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.groupDescription
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "群组状态",
        dataIndex: "status",
        width: "10%",
        defaultSortOrder: 'descend',
        sorter: (a, b) => a.status > b.status,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.status
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "操作",
        dataIndex: "operation",
        width: "35%",
        scopedSlots: { customRender: 'operation' },
      }

    ]
  }
}



</script>