<template>
  <div class="narrPage">
    <div class="formBox">
      <div class="formArea">
        <a-row>
          <a-col :span="24">
            <a-input v-model="groupInfo.groupName" placeholder="群组名"></a-input>
          </a-col>
        </a-row>
        <a-row>
          <a-col :span="24">
            <a-textarea v-model="groupInfo.groupDescription" placeholder="群组描述"></a-textarea>
          </a-col>
        </a-row>
        <a-row>
          <a-col :span="24">
            <a-button type="primary" @click="handleClick()" block>提交</a-button>
          </a-col>
        </a-row>
      </div>
    </div>
  </div>
</template>
  
<script>
import axios from "axios";

const baseUrl = `${process.env.VUE_APP_BASEURL}`
export default {

  data() {
    return {
      subTitleText: "创建群组",
      current: [""],
      groupInfo: {
        groupName: "",
        groupDescription: "",

      }
    }
  },

  methods: {
    logout() {

    },
    createGroup() {
      const url = baseUrl + "/addGroup"
      let payload = {}
      if (this.$store.state.userInfo.role == "user") {
        payload = {
          groupName: this.groupInfo.groupName,
          userId: this.$store.state.userInfo.id,
          groupDescription: this.groupInfo.groupDescription,
          tenantId: this.$store.state.userInfo.tenantId
        }
      }else{
        payload = {
          groupName: this.groupInfo.groupName,
          groupDescription: this.groupInfo.groupDescription,
          tenantId: this.$store.state.userInfo.id
        }
      }
      console.log(payload)


      for (let prop in payload) {
        if (!payload[prop]) {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }

      axios.post(url, payload, {})
        .then((res) => {
          if (res.data.code == 801) {
            this.$message.info("添加成功")
            setTimeout(() => {
              this.$router.back()
            }, 1000)
          } else {
            this.$message.warn("添加失败")
            console.warn(res.data)
          }
        })
        .catch((e) => {
          this.$message.error("请求出错")
          console.warn(e)
        })
    },
    handleClick() {
      if (this.$route.query.id) {
        this.modifyGroup()
      }
      else {
        this.createGroup()
      }
    },
    modifyGroup() {
      const url = baseUrl + "/modifyGroup"
      const payload = {
        id: this.$route.query.id,
        groupName: this.groupInfo.groupName,
        //userId: this.$store.state.userInfo.id,
        groupDescription: this.groupInfo.groupDescription,
        //tenantId: this.groupInfo.tenantId
        
      }
      // for (let prop in payload) {
      //   console.log(payload[prop])
      //   if (!payload[prop]) {
      //     this.$message.warn("请将表单填写完整!")
      //     return
      //   }
      // }

      axios.put(url, payload, {})
        .then((res) => {
          if (res.data.code == 801) {
            this.$message.info("修改成功")
            setTimeout(() => {
              this.$router.back()
            }, 1000)
          } else {
            this.$message.warn(res.data.message)
            console.warn(res.data)
          }
        })
        .catch((e) => {
          this.$message.error("请求出错")
          console.warn(e)
        })
    },
    handleNav(e) {
      if (e.key == "groupManage") {
        this.$router.push("/groupTable")
      }
      else if (e.key == "surveyManage") {
        this.$router.push("/surveyTable")
      }
    }
  },

  mounted: function () {
    if (this.$route.query.groupName) {
      this.subTitleText = "修改群组"
    }
    this.groupInfo.groupName = this.$route.query.groupName
    this.groupInfo.groupDescription = this.$route.query.groupDescription
    this.groupInfo.tenantId = this.$route.query.tenantId
  }


}
</script>