#app {
  height: 100%;
}

body {
  background-color: rgb(246, 250, 254);
}


div.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: calc(94vw);
  margin-right: calc(3vw);
  margin-left: calc(3vw);
  padding-left: calc(2vw);
  margin-top: calc(2vh);
  padding-top: calc(3vh);
  background-color: white;
}




div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}




div.ant-alert {
  width: calc(88vw);
}

div.ant-alert-description {
  display: flex !important;
  align-items: flex-start;
}



div.ant-page-header {
  background-color: white;
  margin-right: calc(3vw);
  margin-left: calc(3vw);
}


div.ant-table {
  width: calc(90vw);
}




/*form*************************************/
div.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(50vh);
  width: 100%;
  padding-top: calc(10vh);
}


div.formArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

div.ant-card-head-title {
  font-weight: bold
}

div.ant-card-body {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.formArea .ant-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(2vh) 0 calc(2vh) 0
}

.formArea .ant-col {
  width: 100%;
}

.formArea .ant-btn.ant-btn-block {
  width: calc(13vw);
}


div.narrPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: calc(40vw);
  margin-right: calc(28vw);
  margin-left: calc(28vw);
  padding-left: calc(2vw);
  margin-top: calc(2vh);
  padding-top: calc(3vh);
  background-color: white;
}

.formArea .ant-col>.ant-input,
.formArea .ant-col>.ant-input-password {
  width: calc(25vw);
}

.formArea .ant-col>input.ant-input {
  height: calc(6vh)
}

.formArea .ant-col>textarea.ant-input {
  height: calc(10vh)
}

.formArea .ant-col .ant-select {
  width: calc(25vw);
  height: calc(6vh);
}

.formArea .ant-col .ant-picker {
  width: calc(25vw);
  height: calc(6vh);
}

.rowInputBtnArea{
  margin-top:calc(5vh);
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-right: calc(2vw);
}

.rowInputBtnArea .ant-input{
  width:40%;
  margin-left: 30%;
  margin-right:10%;
}

.btnArea{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: calc(6vw);
  margin-top:calc(2vh);
  margin-bottom:calc(3vh);
}

.btnArea button {
  width:200px;
  height:40px;
}


.fullBlock{
  width:100%;
  height:100%;
}


@media screen and (max-width:800px) {

  .formArea .ant-col>.ant-input,
  .formArea .ant-col>.ant-input-password {
    width: calc(50vw);
  }

  .formArea .ant-col .ant-select {
    width: calc(50vw);
  }

  .formArea .ant-col .ant-picker {
    width: calc(50vw);
  }

  div.narrPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: calc(70vw);
    margin-right: calc(13vw);
    margin-left: calc(13vw);
    padding-left: calc(2vw);
    margin-top: calc(2vh);
    padding-top: calc(3vh);
    background-color: white;
  }

  .formArea .ant-btn.ant-btn-block {
    width: calc(25vw);
    height: calc(6vh);
  }

}

/**********************************/

div.svc-creator__banner{
  display : none;
}

div.svc-side-bar{
  display : none;

}
#surveyCreator{
  width:calc(90vw)!important;
  height:calc(80vh)!important;



  --primary: #1890ff!important;
  /*--primary-light: yellow!important;*/
  --secondary:#1890ff!important;
  --background: white!important;
  --background-dim: #f6f6f6!important;
  /*--background-dim-light:green!important;*/
  --foreground: #1890ff!important;

}

.sd-root-modern{
  --primary: #1890ff!important;
  /*--primary-light: yellow!important;*/
  --secondary:#1890ff!important;
  --background: white!important;
  --background-dim: #f6f6f6!important;
  /*--background-dim-light:green!important;*/
  --foreground: #1890ff!important;
}


#tableContainer{
  --primary: #1890ff!important;
  /*--primary-light: yellow!important;*/
  --secondary:#1890ff!important;
  --background: white!important;
  --background-dim: #f6f6f6!important;
  /*--background-dim-light:green!important;*/
  --foreground: #1890ff!important;
  width:calc(90vw)!important;
  height:calc(80vh)!important
}


.sa-commercial{
  display:none;
}

.sa-tabulator .tabulator .tabulator-tableHolder::-webkit-scrollbar-thumb {
  background: #1890ff;
}
.sa-table__svg-button{
  color: #1890ff;
}