<template>

  <div class="page">
    <div class="btnArea">
      <template>
        <a-button @click="handleAdd" type="primary" style="visibility: hidden;">创建租户</a-button>
      </template>
    </div>
    <a-table :dataSource="tenantList" :columns="tenantColumns" 
    :pagination="{ pageSize: 5 }" :rowKey='record => record.id' >
      <template slot="operation" slot-scope="text, record">
        <a-button @click="updateTenant(record.id,
        record.account, record.password, record.phoneNumber, record.status)">
          修改
        </a-button>
        <a-popconfirm v-if="tenantList.length" title="确定删除吗?" @confirm="deleteTenant(record.id, record.tenantStatus)">
          <a-button>删除</a-button>
        </a-popconfirm>
      </template>

      <div slot="filterDropdown" slot-scope="{ setSelectedKeys, selectedKeys, confirm, clearFilters, column }"
        style="padding: 8px">
        <a-input v-ant-ref="c => (searchInput = c)" :placeholder="`Search ${column.dataIndex}`" :value="selectedKeys[0]"
          style="width: 188px; margin-bottom: 8px; display: block;"
          @change="e => setSelectedKeys(e.target.value ? [e.target.value] : [])"
          @pressEnter="() => handleSearch(selectedKeys, confirm, column.dataIndex)" />
        <a-button type="primary" icon="search" size="small" style="width: 90px; margin-right: 8px"
          @click="() => handleSearch(selectedKeys, confirm, column.dataIndex)">
          Search
        </a-button>
        <a-button size="small" style="width: 90px" @click="() => handleReset(clearFilters)">
          Reset
        </a-button>
      </div>
      <a-icon slot="filterIcon" slot-scope="filtered" type="search"
        :style="{ color: filtered ? '#108ee9' : undefined }" />
      <template slot="customRender" slot-scope="text, record, index, column">
        <span v-if="searchText && searchedColumn === column.dataIndex">
          <template v-for="(fragment, i) in text
          .toString()
          .split(new RegExp(`(?<=${searchText})|(?=${searchText})`, 'i'))">
            <mark v-if="fragment.toLowerCase() === searchText.toLowerCase()" :key="i" class="highlight">{{ fragment
            }}</mark>
            <template v-else>{{ fragment }}</template>
          </template>
        </span>
        <template v-else>
          {{ text }}
        </template>
      </template>

      <template slot="footer" >
        <span style="position:absolute;right:40px">
        共 {{tenantList.length}} 条
        </span>
      </template>
    </a-table>
  </div>
</template>
<script>

import axios from "axios"
const baseUrl = `${process.env.VUE_APP_BASEURL}`

export default {
  data() {
    return {
      subTitleText: "租户管理",
      current: [""],
      tenantList: [],
      tenantColumns: [],

      searchText: '',
      searchInput: null,
      searchedColumn: '',

    }
  },


  //method************************************************
  methods: {
    getTenantList() {
      const url = baseUrl + "/queryTenantList"

      const params = { userId: this.$store.state.userInfo.id }

      axios.get(url, {
        params
      })
        .then((res) => {
          if (res.data.code == 801) {
            this.tenantList = res.data.tenantList.filter(e => e.deleted==0)

            for (let i = 0; i < this.tenantList.length; i++) {
              this.tenantList[i].authority = "all"
            }
            //
            console.log(this.tenantList)
          }
          else {
            this.$message.warn(res.data.message)
          }
        }
        )
        .catch((e) => {
          console.warn(e)
          this.$message.warn("query error")
        })
    },
    deleteTenant: function (id, status) {
      console.log(id, status, axios, baseUrl)
      if (status == "false") {
        this.$message.warn("租户不能删除")
        return
      }

      const url = baseUrl + "/deleteTenant"
      let params = { id }
      axios
        .delete(url, {
          params
        })
        .then((res) => {
          if (res.data.code == 801) {
            this.$message.info("删除成功")
            this.getTenantList();
          }
          else {
            this.$message.warn(res.data.message)
            console.warn(res.data)
          }
        })
        .catch((e) => {
          this.$message.error("请求出错")
          console.warn(e)
        })
    },
    updateTenant: function (id, account, password, phoneNumber, status) {
      if (status == "false") {
        this.$message.warn("租户内不能修改")
        return
      }
      this.$router.push({ path: "/admin/tenantForm", query: { id, account, password, phoneNumber } })
    },

    logout: () => {

    },
    handleAdd() {
      this.$router.push("/admin/tenantForm")
    },



    handleSearch(selectedKeys, confirm, dataIndex) {
      confirm();
      this.searchText = selectedKeys[0];
      this.searchedColumn = dataIndex;
    },

    handleReset(clearFilters) {
      clearFilters();
      this.searchText = '';
    },






  },
  //hook***************************************
  mounted: function () {
    console.log(this.$store.state.userInfo)
    this.getTenantList();
    this.tenantColumns = [
      {
        title: "租户id",
        dataIndex: "id",
        width: "20%",
        sorter: (a, b) => a.id > b.id,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.id
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "账号",
        dataIndex: "account",
        width: "15%",
        defaultSortOrder: 'descend',
        sorter: (a, b) => a.account > b.account,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.account
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "电话号码",
        dataIndex: "phoneNumber",
        width: "10%",
        sorter: (a, b) => a.phoneNumber > b.phoneNumber,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.phoneNumber
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "权限",
        dataIndex: "authority",
        width: "10%",
        sorter: (a, b) => a.authority > b.authority,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.authority
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "租户状态",
        dataIndex: "status",
        width: "10%",
        sorter: (a, b) => a.status > b.status,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.status
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      }, {
        title: "租户计费",
        dataIndex: "bill",
        width: "10%",
        sorter: (a, b) => a.bill > b.bill,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.bill
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },

      {
        title: "操作",
        dataIndex: "operation",
        width: "25%",
        scopedSlots: { customRender: 'operation' },
      }

    ]
  }
}



</script>