<template>
  <div class="fullBlock">
    <div class="narrPage">
      <div class="formBox">
        <div class="formArea">
          <a-row>
            <a-col :span="24">
              <a-input v-model="tenantInfo.account" placeholder="租户账号" :disabled="this.$route.query.id!=undefined"></a-input>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-input-password v-model="tenantInfo.password" placeholder="租户密码"></a-input-password>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-input-password v-model="tenantInfo.confirmPassword" placeholder="确认密码"></a-input-password>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-input v-model="tenantInfo.phoneNumber" placeholder="租户电话号码"></a-input>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-select v-model="tenantInfo.authority" placeholder="权限" @change="handleAuChange">
                        <a-select-option value="all">all</a-select-option>
                        <a-select-option value="banned">banned</a-select-option>
                    </a-select>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-button type="primary" @click="handleClick()" block>提交</a-button>
            </a-col>
          </a-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

const baseUrl = `${process.env.VUE_APP_BASEURL}`
export default {

  data() {
    return {
      subTitleText: "创建租户",
      current: [""],
      tenantInfo: {
        id: "",
        account: "",
        password: "",
        phoneNumber: "",
        confirmPassword:"",
        authority:''
      }
    }
  },

  methods: {
    logout() {

    },
    createTenant() {
      console.log(axios, baseUrl)
      const url = baseUrl + "/addTenant"
      const payload = {
        account:this.tenantInfo.account,
        password: this.tenantInfo.password,
        phoneNumber: this.tenantInfo.phoneNumber,
      }
      if(this.tenantInfo.password!=this.tenantInfo.confirmPassword){
        this.$message.warn("密码不一致")
        return
      }

      for (let prop in payload) {
        console.log(payload[prop])
        if (!payload[prop]) {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }

      axios.post(url, payload, {})
        .then((res) => {
          if (res.data.code == 801) {
            this.$message.info("添加成功")
            setTimeout(() => {
              this.$router.back()
            }, 1000)
          } else {
            this.$message.warn("添加失败")
            console.warn(res.data)
          }
        })
        .catch((e) => {
          this.$message.error("请求出错")
          console.warn(e)
        })

    },
    handleClick() {
      if (this.$route.query.id) {
        this.modifyTenant()
      }
      else {
        this.createTenant()
      }
    },
    modifyTenant() {
      const url = baseUrl + "/modifyTenant"
      const payload = {
        id: this.$route.query.id,
        account: this.tenantInfo.account,
        password: this.tenantInfo.password,
        phoneNumber: this.tenantInfo.phoneNumber,
      }
      if(this.tenantInfo.password!=undefined){
        if(this.tenantInfo.password!=this.tenantInfo.confirmPassword){
        this.$message.warn("密码不一致")
        return
      }
      }
      
      // for (let prop in payload) {
      //   console.log(payload[prop])
      //   if (!payload[prop]) {
      //     this.$message.warn("请将表单填写完整!")
      //     return
      //   }
      // }

      axios.put(url, payload, {})
        .then((res) => {
          if (res.data.code == 801) {
            this.$message.info("修改成功")
            setTimeout(() => {
              this.$router.back()
            }, 1000)
          } else {
            this.$message.warn(res.data.message)
            console.warn(res.data)
          }
        })
        .catch((e) => {
          this.$message.error("请求出错")
          console.warn(e)
        })
    },
    getTenantInfoById() {
      const url = baseUrl + "/queryAll"
      this.tenantInfo.id = this.$route.query.id
      const params = { id: this.$route.query.id, }

      axios.get(url, {
        params
      })
        .then((res) => {
          if (res.data.code == 801) {
            this.tenantInfo.account = res.data.userList[0].account
            this.tenantInfo.password = res.data.userList[0].password
            this.tenantInfo.phoneNumber = res.data.userList[0].phoneNumber
            this.tenantInfo.authority = "all"
          }
          else {
            this.$message.warn(res.data.message)
          }
        }
        )
        .catch((e) => {
          console.warn(e)
          this.$message.warn("query error")
        })
    },
    handleAuChange(){
    
    }
  },

  mounted: function () {
    if (this.$route.query.id) {
      this.subTitleText = "修改租户"
    this.getTenantInfoById()

    }


  }


}
</script>