<template>
    <div class="narrPage">
      <div class="formBox">
        <div class="formArea">
          <a-row>
            <a-col :span="24">
              <a-input v-model="userInfo.account" placeholder="用户账号" :disabled="this.$route.query.id!=undefined"></a-input>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-input-password v-model="userInfo.password" placeholder="用户密码"></a-input-password>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-input-password v-model="userInfo.confirmPassword" placeholder="确认密码"></a-input-password>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-input v-model="userInfo.phoneNumber" placeholder="用户电话号码"></a-input>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-button type="primary" @click="handleClick()" block>提交</a-button>
            </a-col>
          </a-row>
        </div>
      </div>
    </div>
</template>

<script>
import axios from "axios";

const baseUrl = `${process.env.VUE_APP_BASEURL}`
export default {

  data() {
    return {
      subTitleText: "创建用户",
      current: [""],
      userInfo: {
        password : "",
        phoneNumber: "",
        confirmPassword:""
      }
    }
  },

  methods: {
    logout() {

    },
    createUser() {
      const url = baseUrl + "/addUser"
      const payload = {
        account : this.userInfo.account,
        password : this.userInfo.password,
        phoneNumber : this.userInfo.phoneNumber,
        tenantId: this.$store.state.userInfo.id
      }
      if(this.userInfo.password!=this.userInfo.confirmPassword){
        this.$message.warn("密码不一致")
        return
      }

      for (let prop in payload) {
        console.log(payload[prop])
        if (!payload[prop]) {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }

      axios.post(url, payload, {})
          .then((res) => {
            if (res.data.code == 801) {
              this.$message.info("添加成功")
              setTimeout(() =>{
                this.$router.back()
              },1000)
            } else {
              this.$message.warn("添加失败")
              console.warn(res.data)
            }
          })
          .catch((e) => {
            this.$message.error("请求出错")
            console.warn(e)
          })
     console.log(axios, baseUrl)
    },
    handleClick() {
      if (this.$route.query.id) {
        this.modifyUser()
      }
      else {
        this.createUser()
      }
    },
    modifyUser() {
     const url = baseUrl + "/modifyUser"
     const payload = {
       id : this.$route.query.id,
       phoneNumber:this.userInfo.phoneNumber,
       password: this.userInfo.password,
       tenantId: this.userInfo.tenantId,
     }
     if(this.userInfo.password!=null){
      if(this.userInfo.password!=this.userInfo.confirmPassword){
        this.$message.warn("密码不一致")
        return
      }
     }
     
     console.log(payload)
      // for (let prop in payload) {
        
      //   if (!payload[prop]) {
      //     this.$message.warn("请将表单填写完整!")
      //     return
      //   }
      // }

      axios.put(url, payload, {})
          .then((res) => {
            if (res.data.code == 801) {
              this.$message.info("修改成功")
              setTimeout(() =>{
                this.$router.back()
              },1000)
            } else {
              this.$message.warn("修改失败")
              console.warn(res.data)
            }
          })
          .catch((e) => {
            this.$message.error("请求出错")
            console.warn(e)
          })
    },
    getUserInfoById() {
      const url = baseUrl + "/queryAll"
      this.userInfo.id = this.$route.query.id
      const params = { id: this.$route.query.id, }

      axios.get(url, {
        params
      })
        .then((res) => {
          if (res.data.code == 801) {
            this.userInfo.account = res.data.userList[0].account
            this.userInfo.password = res.data.userList[0].password
            this.userInfo.phoneNumber = res.data.userList[0].phoneNumber
            this.userInfo.tenantId = res.data.userList[0].tenantId
          }
          else {
            this.$message.warn(res.data.message)
          }
        }
        )
        .catch((e) => {
          console.warn(e)
          this.$message.warn("query error")
        })
    }
  },

  mounted: function () {
    if(this.$route.query.id){
      this.subTitleText = "修改用户"
      this.getUserInfoById()
      // this.userInfo.account = this.$route.query.account
      // this.userInfo.phoneNumber = this.$route.query.phoneNumber
      // this.userInfo.
    }
  }


}
</script>