<template>

  <div class="page">


    <div class="btnArea">
      <a-button type="primary" :disabled="!hasSelected" :loading="loading" @click="start">
        确认添加
      </a-button>
    </div>
    <a-table :dataSource="replierList" :columns="replierColumns" :rowKey='record => record.id'
      :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
      :pagination="{ pageSize: 5 }">
      <template slot="operation" slot-scope="text, record">
        <a-button
          @click="updateReplier(record.id, record.account, record.password, record.phoneNumber, record.status, record.groupIdList)">
          修改
        </a-button>
        <a-popconfirm v-if="replierList.length" title="确定删除吗?" @confirm="deleteReplier(record.id, record.status)">
          <a-button>删除</a-button>
        </a-popconfirm>
      </template>

      <div slot="filterDropdown" slot-scope="{ setSelectedKeys, selectedKeys, confirm, clearFilters, column }"
        style="padding: 8px">
        <a-input v-ant-ref="c => (searchInput = c)" :placeholder="`Search ${column.dataIndex}`" :value="selectedKeys[0]"
          style="width: 188px; margin-bottom: 8px; display: block;"
          @change="e => setSelectedKeys(e.target.value ? [e.target.value] : [])"
          @pressEnter="() => handleSearch(selectedKeys, confirm, column.dataIndex)" />
        <a-button type="primary" icon="search" size="small" style="width: 90px; margin-right: 8px"
          @click="() => handleSearch(selectedKeys, confirm, column.dataIndex)">
          Search
        </a-button>
        <a-button size="small" style="width: 90px" @click="() => handleReset(clearFilters)">
          Reset
        </a-button>
      </div>
      <a-icon slot="filterIcon" slot-scope="filtered" type="search"
        :style="{ color: filtered ? '#108ee9' : undefined }" />
      <template slot="customRender" slot-scope="text, record, index, column">
        <span v-if="searchText && searchedColumn === column.dataIndex">
          <template v-for="(fragment, i) in text
          .toString()
          .split(new RegExp(`(?<=${searchText})|(?=${searchText})`, 'i'))">
            <mark v-if="fragment.toLowerCase() === searchText.toLowerCase()" :key="i" class="highlight">{{ fragment
            }}</mark>
            <template v-else>{{ fragment }}</template>
          </template>
        </span>
        <template v-else>
          {{ text }}
        </template>
      </template>

      <template slot="footer" >
        <span style="position:absolute;right:40px">
        共 {{replierList.length}} 条
        </span>
      </template>
    </a-table>
  </div>
</template>
<script>

import axios from "axios"
const baseUrl = `${process.env.VUE_APP_BASEURL}`

export default {
  data() {
    return {
      subTitleText: "答者管理",
      current: [""],
      replierList: [],
      replierColumns: [],

      searchText: '',
      searchInput: null,
      searchedColumn: '',
      selectedRowKeys: [],
      loading: false,

    }
  },


  //method************************************************
  methods: {
    getReplierList() {
      const url = baseUrl + "/queryReplier"

      const params = {
        //groupId: this.$route.query.groupId,
      }


      axios.get(url, {
        params
      })
        .then((res) => {
          if (res.data.code == 801) {
            this.replierList = res.data.replierList.filter(e=>e.groupId!=this.$route.query.groupId)

            console.log(this.replierList)
          }
          else {
            this.$message.warn(res.data.message)
          }
        }
        )
        .catch((e) => {
          console.warn(e)
          this.$message.warn("query error")
        })
    },

    updateReplier: function (id, account, password, phoneNumber, status, groupIdList) {
      if (status == "false") {
        this.$message.warn("答者不能修改")
        return
      }

      this.$router.push({ path: "/replierForm", query: { id, account, password, phoneNumber, groupIdList } })
    },

    handleSearch(selectedKeys, confirm, dataIndex) {
      confirm();
      this.searchText = selectedKeys[0];
      this.searchedColumn = dataIndex;
    },

    handleReset(clearFilters) {
      clearFilters();
      this.searchText = '';
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys);
      this.selectedRowKeys = selectedRowKeys;
    },
    start() {
      // ajax request after empty completing

      // console.log(axios, baseUrl)
      const url = baseUrl + "/addMultiReplierById"
      const payload = {
        groupId: this.$route.query.groupId,
        replierIdList: this.selectedRowKeys
      }
      console.log(payload)

      for (let prop in payload) {
        if (!payload[prop]) {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }

      axios.post(url, payload, {})
        .then((res) => {
          if (res.data.code == 801) {
            this.$message.info("添加成功")
            setTimeout(() => {
              this.$router.back()
            }, 1000)
          } else {
            this.$message.warn("添加失败")
            console.warn(res.data)
          }
        })
        .catch((e) => {
          this.$message.error("请求出错")
          console.warn(e)
        })

      // setTimeout(() => {
      //   this.loading = false;
      //   this.selectedRowKeys = [];
      // }, 1000);
    },





  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0;
    },
  },
  //hook***************************************
  mounted: function () {
    console.log(this.$store.state.userInfo)
    this.getReplierList();
    this.replierColumns = [
      {
        title: "答者id",
        dataIndex: "id",
        width: "20%",
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.id
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "账号",
        dataIndex: "account",
        width: "15%",
        defaultSortOrder: 'descend',
        sorter: (a, b) => a.account > b.account,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.replierName
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "电话号码",
        dataIndex: "phoneNumber",
        width: "20%",
        defaultSortOrder: 'descend',
        sorter: (a, b) => a.phoneNumber > b.phoneNumber,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.replierDescription
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "答者状态",
        dataIndex: "status",
        width: "10%",
        defaultSortOrder: 'descend',
        sorter: (a, b) => a.status > b.status,
        scopedSlots: {
          filterDropdown: 'filterDropdown',
          filterIcon: 'filterIcon',
          customRender: 'customRender',
        },
        onFilter: (value, record) =>
          record.replierStatus
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase()),
        onFilterDropdownVisibleChange: visible => {
          if (visible) {
            setTimeout(() => {
              this.searchInput.focus();
            }, 0);
          }
        },
      },
      {
        title: "",
        dataIndex: "xxx",
        width: "35%",
      }

    ]
  }
}



</script>