<template>
    <div class="narrPage">
      <div class="formBox">
        <div class="formArea">
          <a-row>
            <a-col :span="24">
              <a-input v-model="replierInfo.account" placeholder="答者账号" :disabled="this.$route.query.id!=undefined"></a-input>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-input-password v-model="replierInfo.password" placeholder="答者密码"></a-input-password>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-input-password v-model="replierInfo.confirmPassword" placeholder="确认密码"></a-input-password>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-input v-model="replierInfo.phoneNumber" placeholder="答者电话号码"></a-input>
            </a-col>
          </a-row>
          <a-row>
            <a-col :span="24">
              <a-button type="primary" @click="handleClick()" block>提交</a-button>
            </a-col>
          </a-row>
        </div>
      </div>
    </div>
</template>

<script>
import axios from "axios";

const baseUrl = `${process.env.VUE_APP_BASEURL}`
export default {

  data() {
    return {
      subTitleText: "创建答者",
      current: [""],
      replierInfo: {
        id:"",
        account: "",
        password: "",
        phoneNumber:"",
        groupId:"",
        confirmPassword:""        
      }
    }
  },

  methods: {
    logout() {

    },
    createReplier() {
     // console.log(axios, baseUrl)
      const url = baseUrl + "/addReplier"
      const payload = {
        account: this.replierInfo.account,
        password: this.replierInfo.password,
        phoneNumber: this.replierInfo.phoneNumber,
        groupId:this.replierInfo.groupId,
        //TODO:group list

      }
      if(this.replierInfo.password != this.replierInfo.confirmPassword){
        this.$message.warn("密码不一致")
        return
      }

      for (let prop in payload) {
        console.log(payload[prop])
        if (!payload[prop]) {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }

      axios.post(url, payload, {})
          .then((res) => {
            if (res.data.code == 801) {
              this.$message.info("添加成功")
              setTimeout(() =>{
                this.$router.back()
              },1000)
            } else {
              this.$message.warn("添加失败")
              console.warn(res.data)
            }
          })
          .catch((e) => {
            this.$message.error("请求出错")
            console.warn(e)
          })
    },
    handleClick() {
      if (this.$route.query.id) {
        this.modifyReplier()
      }
      else {
        this.createReplier()
      }
    },
    modifyReplier() {
      const url = baseUrl + "/modifyReplier"
      const payload = {
        id: this.$route.query.id,
        password: this.replierInfo.password,
        phoneNumber: this.replierInfo.phoneNumber,
        //groupIdList:this.replierInfo.groupIdList,
        //groupId:this.replierInfo.groupId,
        // securityQuestion:this.replierInfo.securityQuestion,
        // securityAnswer: this.replierInfo.securityAnswer,
        // authority:this.replierInfo.authority,
      }
      if(this.replierInfo.password != this.replierInfo.confirmPassword){
        this.$message.warn("密码不一致")
        return
      }

      for (let prop in payload) {
        console.log(payload[prop])
        if (!payload[prop]) {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }

      axios.put(url, payload, {})
          .then((res) => {
            if (res.data.code == 801) {
              this.$message.info("修改成功")
              setTimeout(() =>{
                this.$router.back()
              },1000)
            } else {
              this.$message.warn(res.data.message)
              console.warn(res.data)
            }
          })
          .catch((e) => {
            this.$message.error("请求出错")
            console.warn(e)
          })
    },

    getReplierInfoById() {
      const url = baseUrl + "/queryAll"
      this.replierInfo.id = this.$route.query.id
      const params = { id: this.$route.query.id, }

      axios.get(url, {
        params
      })
        .then((res) => {
          if (res.data.code == 801) {
            this.replierInfo.account = res.data.info.account
            this.replierInfo.phoneNumber = res.data.info.phoneNumber
          }
          else {
            this.$message.warn(res.data.message)
          }
        }
        )
        .catch((e) => {
          console.warn(e)
          this.$message.warn("query error")
        })
    }

  },

  mounted: function () {
    if(this.$route.query.id){
      this.subTitleText = "修改答者"
      this.getReplierInfoById()
    }

    // this.replierInfo.account = this.$route.query.account
    // //this.replierInfo.password = this.$route.query.password
    // this.replierInfo.phoneNumber = this.$route.query.phoneNumber
    this.replierInfo.groupId = this.$route.query.groupId
    // this.replierInfo.securityAnswer = this.$route.query.securityAnswer
    // this.replierInfo.securityQuestion = this.$route.query.securityQuestion
    // this.replierInfo.authority = this.$route.query.authority
    console.log(this.replierInfo);
  }


}
</script>