
<template>
  <a-card title="调查问卷系统" :bordered="false">
    <a-tabs :activeKey="activeKey" @change="handleTabClick" class="formTab">
      <a-tab-pane key="1" tab="账号密码登录">
        <a-form>
          <a-form-item>
            <a-input v-model="pwLoginInfo.account" placeholder="账号" />
          </a-form-item>

          <a-form-item>
            <a-input-password v-model="pwLoginInfo.password" placeholder="密码" />
          </a-form-item>

          <a-form-item>
            <a-button type="primary" @click="pwLogin" block>登录</a-button>
          </a-form-item>
          <a-form-item>

            <router-link :to="{ name: 'pwRetrieval' }" style="float: left;">
              忘记密码?
            </router-link>
            <router-link :to="{ name: 'allRegister' }" style="float: right;">
              注册
            </router-link>
          </a-form-item>
        </a-form>
      </a-tab-pane>
      <a-tab-pane key="2" tab="验证码登录">
        <a-form>
          <a-form-item>
            <a-input v-model="smsLoginInfo.phoneNumber" placeholder="手机号" />
          </a-form-item>
          <a-row :gutter="16">
            <a-col :span="16">
              <a-form-item>
                <a-input v-model="smsLoginInfo.veriCode" placeholder="验证码" />
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item>
                <a-button type="" @click="sendSms">获取验证码</a-button>
              </a-form-item>
            </a-col>
          </a-row>
          <a-form-item>
            <a-button type="primary" @click="smslogin" block>登录</a-button>
          </a-form-item>
          <a-form-item>

            <router-link :to="{ name: 'pwRetrieval' }" style="float: left;">
              忘记密码?
            </router-link>
            <router-link :to="{ name: 'allRegister' }" style="float: right;">
              注册
            </router-link>
          </a-form-item>
        </a-form>
      </a-tab-pane>
    </a-tabs>
  </a-card>
</template>
   

<script>

import { message } from "ant-design-vue"
import axios from "axios"
const baseUrl = `${process.env.VUE_APP_BASEURL}`

export default {
  name: "userLogin",
  //data
  data() {
    return {
      pwLoginInfo: {
        account: "",
        password: ""
      },
      smsLoginInfo: {
        phoneNumber: "",
        veriCode: ""
      },
      activeKey: "1",
      userInfo: {},
      token:""

    }
  },

  //method
  methods: {
    pwLogin() {
      const url = baseUrl + "/pwLogin"
      const payload = this.pwLoginInfo;
      for (let prop in payload) {
        if (payload[prop] === null || payload[prop] === '') {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }
      axios
        .post(url, payload, {

        })
        .then((res) => {
          console.log(res.data)
          if (res.data.code == 801) {
            this.token = res.data.userData.token
            this.getInfoById(res.data.userData.id)

          }
          else {
            message.warn("登录失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("登录失败")
        })
    },
    smslogin() {
      const url = baseUrl + "/smsLogin"
      const payload = this.smsLoginInfo;
      for (let prop in payload) {
        if (payload[prop] === null || payload[prop] === '') {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }
      axios
        .post(url, payload, {

        })
        .then((res) => {
          console.log(res.data)
          if (res.data.code == 801) {
            const userInfo = res.data.userData
            console.log(userInfo)
            switch (userInfo.role) {
              case 0:
                userInfo.role = "admin"
                break
              case 1:
                userInfo.role = "tenant"
                break
              case 2:
                userInfo.role = "user"
                break
              case 3:
                userInfo.role = "replier"
                break
              default:
                this.$message.info("未知身份")
                return

            }
            this.$store.commit("setUserInfo", userInfo)
            this.$store.commit("setUserToken", this.token)
            this.$message.success("登录成功")
            console.log(this.$store.state.userToken)

            setTimeout(() => {
              switch (userInfo.role) {
                case 'admin':
                  this.push("/admin")
                  break
                case 'tenant':
                  this.$router.push("/tenant")
                  break
                case 'user':
                  this.$router.push("/user")
                  break
                case 'replier':
                  this.$message.info("答者暂不支持登录")
                  break
                default:
                  this.$message.info("未知身份")

              }
            }, 1000)
          }

          else {
            message.warn("登录失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("登录失败")
        })
    },
    sendSms() {
      const url = baseUrl + "/sendSms"
      const payload = {};
      payload.phoneNumber = this.smsloginInfo.phoneNumber
      payload.purpose = "login"
      axios
        .post(url, payload, {

        })
        .then((res) => {
          console.log(res.data)
          if (res.data.code == 801) {
            this.$message.success("验证码已发送")
          }
          else {
            this.$message.warn("验证码发送失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("验证码发送失败")
        })
    },
    handleTabClick(key) {
      this.activeKey = key
      // this.form.resetFields()
    },
    getInfoById(id) {
      const url = baseUrl + "/queryAll"
      const params = { id }

      axios.get(url, {
        params
      })
        .then((res) => {
          if (res.data.code == 801) {
            let userInfo = res.data.userList[0]
            console.log("userInfo", userInfo)
            //const token = res.data.userData.token
            switch (userInfo.role) {
                case 0:
                  userInfo.role = "admin"
                  break
                case 1:
                userInfo.role = "tenant"
                  break
                case 2:
                  userInfo.role = "user"
                  break
                case 3:
                userInfo.role = "replier"
                  
                  break

              }
            this.$store.commit("setUserInfo", userInfo)
            this.$store.commit("setUserToken", this.token)
            this.$message.success("登录成功")
            console.log(this.$store.state.userToke)
            setTimeout(() => {
              switch (userInfo.role) {
                case "admin":
                  this.$router.push("/admin")
                  break
                case "tenant":
                  this.$router.push("/tenant")
                  break
                case "user":
                  this.$router.push("/user")
                  break
                case "replier":
                  this.$message.info("答者暂不支持登录")
                  break

              }
            }, 1000)
          }
          else {
            this.$message.warn(res.data.message)
          }
        }
        )
        .catch((e) => {
          console.warn(e)
          this.$message.warn("query error")
        })
    }
  }
}
</script>

<style scoped >
.formTab {
  width: 380px;
}

.test {
  background: red
}
</style>