
<template>
    <div class="container">
        <a-card title="调查问卷系统注册" :bordered="false">
            <a-form>
                <a-form-item>
                    <a-input v-model="registerInfo.account" placeholder="账号" />
                </a-form-item>
                <a-form-item>
                    <a-input-password v-model="registerInfo.password" placeholder="密码" />
                </a-form-item>
                <a-form-item>
                    <a-input-password v-model="registerInfo.confirmPassword" placeholder="确认密码" />
                </a-form-item>
                <a-form-item>
                    <a-select v-model="registerInfo.role" placeholder="身份" @change="handleRoleChange">
                        <!-- <a-select-option value="admin">管理员</a-select-option> -->
                        <a-select-option value="tenant">租户</a-select-option>
                        <!-- <a-select-option value="user">用户</a-select-option> -->
                        <a-select-option value="replier">答者</a-select-option>
                    </a-select>
                </a-form-item>
                <a-form-item v-if="registerInfo.role == 'user'">
                    <a-input v-model="tenantAccount"  placeholder="所属租户账户" />
                </a-form-item>

                <a-form-item v-if="false">
                    <a-input v-model="groupName"  placeholder="所属群组名" />
                </a-form-item>

                <a-form-item>
                    <a-input v-model="registerInfo.securityQuestion" placeholder="密保问题" />
                </a-form-item>
                <a-form-item>
                    <a-input v-model="registerInfo.securityAnswer" placeholder="密保答案" />
                </a-form-item>
                <a-form-item>
                    <a-input v-model="registerInfo.phoneNumber" placeholder="手机号" />
                </a-form-item>
                <a-row :gutter="16">
                    <a-col :span="16">
                        <a-form-item>
                            <a-input v-model="registerInfo.veriCode" placeholder="验证码" />
                        </a-form-item>
                    </a-col>
                    <a-col :span="8">
                        <a-form-item>
                            <a-button type="" @click="sendSms">获取验证码</a-button>
                        </a-form-item>
                    </a-col>
                </a-row>
                <a-form-item>
                    <a-button type="primary" @click="register" block>注册</a-button>
                </a-form-item>
            </a-form>
        </a-card>
    </div>
</template>
     
  
<script>

import { message } from "ant-design-vue"
import axios from "axios"
//import ref from "vue"
const baseUrl = `${process.env.VUE_APP_BASEURL}`

export default {
    name: "userLogin",
    //data
    data() {
        return {
            registerInfo: {
                account: "",
                password: "",
                confirmPassword: "",
                phoneNumber: "",
                veriCode: "",
                role: "",
                securityQuestion:"",
                securityAnswer:""
            },
            tenantAccount: "",//若为用户
            groupName: ""//若为答者
        }
    },

    //method
    methods: {
        register() {
            const url = baseUrl + "/register"
            const payload = this.registerInfo
            if (this.registerInfo.password != this.registerInfo.confirmPassword) {
                this.$message.warn("密码不一致")
                return
            }
            if (payload.role == "user") {
                payload.tenantAccount = this.tenantAccount
            }
            else if (payload.role == "replier") {
                //payload.groupName = this.groupName
            }
            for (let prop in payload) {
                if (payload[prop] === null || payload[prop] === '') {
                    this.$message.warn("请将表单填写完整!")
                    return
                }
            }
            axios
                .post(url, payload, {

                })
                .then((res) => {
                    console.log(res.data)
                    if (res.data.code == 801) {
 
                        this.$message.success("注册成功")
                        setTimeout(() => {
                            this.$router.push("/allLogin")
                        }, 1000)
                    }
                    else {
                        message.warn("注册失败")
                    }
                })
                .catch((e) => {
                    console.warn(e)
                    this.$message.warn("注册失败")
                })
        },
        sendSms() {
            const url = baseUrl + "/sendSms"
            const payload = {};
            payload.phoneNumber = this.smsloginInfo.phoneNumber
            payload.purpose = "register"
            axios
                .post(url, payload, {

                })
                .then((res) => {
                    console.log(res.data)
                    if (res.data.code == 801) {
                        this.$message.success("验证码已发送")
                    }
                    else {
                        this.$message.warn("验证码发送失败")
                    }
                })
                .catch((e) => {
                    console.warn(e)
                    this.$message.warn("验证码发送失败")
                })
        },

        handleRoleChange() {

        }
    }
}
</script>
  
<style scoped >
.formTab {
    width: 380px;
}

.test {
    background: red
}
</style>