
<template>
  <div class="container">
    <a-card title="找回密码" :bordered="false">
      <a-tabs :activeKey="activeKey" @change="handleTabClick" class="formTab">
        <a-tab-pane key="1" tab="密保找回">
          <a-form v-if="secStep == '1'">
            <a-form-item>
              <a-input v-model="secRetriInfo.account" placeholder="账号" />
            </a-form-item>
            <a-form-item>
              <a-button type="primary" @click="postAccount" block>确定</a-button>
            </a-form-item>
          </a-form>
          <a-form v-if="secStep == '2'">
            <a-form-item>
              <p>{{ secRetriInfo.securityQuestion }}</p>
            </a-form-item>
            <a-form-item>
              <a-input v-model="secRetriInfo.securityAnswer" placeholder="答案" />
            </a-form-item>
            <a-form-item>
              <a-button type="primary" @click="secRetrieval" block>确认</a-button>
            </a-form-item>
          </a-form>
          <a-form v-if="secStep == '3'">
            <a-form-item>
              <a-input-password v-model="newPassword" placeholder="密码" />
            </a-form-item>
            <a-form-item>
              <a-input-password v-model="confirmPassword" placeholder="确认密码" />
            </a-form-item>
            <a-form-item>
              <a-button type="primary" @click="resetPassword" block>重置密码</a-button>
            </a-form-item>
          </a-form>
        </a-tab-pane>
        <a-tab-pane key="2" tab="验证码找回">
          <a-form v-if="smsStep == '1'">
            <a-form-item>
              <a-input v-model="veriRetriInfo.phoneNumber" placeholder="手机号" />
            </a-form-item>
            <a-row :gutter="16">
              <a-col :span="16">
                <a-form-item>
                  <a-input v-model="veriRetriInfo.veriCode" placeholder="验证码" />
                </a-form-item>
              </a-col>
              <a-col :span="8">
                <a-form-item>
                  <a-button type="" @click="sendSms">获取验证码</a-button>
                </a-form-item>
              </a-col>
            </a-row>
            <a-form-item>
              <a-button type="primary" @click="smsRetrieval" block>确认</a-button>
            </a-form-item>
          </a-form>
          <a-form v-if="smsStep == '2'">
            <a-form-item>
              <a-input-password v-model="newPassword" placeholder="密码" />
            </a-form-item>
            <a-form-item>
              <a-input-password v-model="confirmPassword" placeholder="确认密码" />
            </a-form-item>
            <a-form-item>
              <a-button type="primary" @click="resetPassword" block>重置密码</a-button>
            </a-form-item>
          </a-form>
        </a-tab-pane>
      </a-tabs>
    </a-card>
  </div>
</template>
     
  
<script>

import { message } from "ant-design-vue"
import axios from "axios"
const baseUrl = `${process.env.VUE_APP_BASEURL}`

export default {
  name: "userLogin",
  //data
  data() {
    return {
      secRetriInfo: {
        account: "",
        securityAnswer: ""
      },
      secAnswer: "",
      veriRetriInfo: {
        phoneNumber: "",
        veriCode: ""
      },
      info: {},
      activeKey: "1",
      secStep: "1",
      smsStep: "1",
      newPassword: "",
      confirmPassword: ""

    }
  },

  //method
  methods: {
    postAccount() {
      const url = baseUrl + "/queryAll"
      const params = { account: this.secRetriInfo.account }
      if (!this.secRetriInfo.account) {
        this.$message.warn("请填写表单")
        return
      }
      axios.get(url, {
        params
      })
        .then((res) => {
          if (res.data.code == 801) {
            // this.secRetriInfo.securityQuestion = res.data.info.securityQuestion
            this.secRetriInfo.securityQuestion = res.data.userList[0].securityQuestion
            this.secAnswer = res.data.userList[0].securityAnswer
            this.info = res.data.userList[0]
            this.secStep = '2'
          }
          else {
            this.$message.warn("失败")
          }
        }
        )
        .catch((e) => {
          console.warn(e)
          this.$message.warn("query error")
        })
    },
    secRetrieval() {
      //const url = baseUrl + "/secRetrieval"
      const payload = this.secRetriInfo;
      for (let prop in payload) {
        if (payload[prop] === null || payload[prop] === '') {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }

      if (this.secRetriInfo.securityAnswer == this.secAnswer) {
        message.success("验证成功")
        this.secStep = '3'
      }
      else {
        message.warn("验证失败")
      }
      // axios
      //   .post(url, payload, {

      //   })
      //   .then((res) => {
      //     console.log(res.data)
      //     if (res.data.code == 801) {
      //       message.success("验证成功")
      //       this.secStep = '3'
      //     }
      //     else {
      //       message.warn("验证失败")
      //     }
      //   })
      //   .catch((e) => {
      //     console.warn(e)
      //     this.$message.warn("验证失败")
      //   })
    },
    smsRetrieval() {
      const url = baseUrl + "/smsRetrieval"
      const payload = this.veriRetriInfo;
      for (let prop in payload) {
        if (payload[prop] === null || payload[prop] === '') {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }
      axios
        .post(url, payload, {

        })
        .then((res) => {
          console.log(res.data)
          if (res.data.code == 801) {
            message.success("验证成功")
            this.smsStep = '2'
          }
          else {
            message.warn("验证失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("验证失败")
        })
    },
    sendSms() {
      const url = baseUrl + "/sendSms"
      const payload = {};
      payload.phoneNumber = this.veriRetriInfo.phoneNumber
      payload.purpose = "retrieval"
      axios
        .post(url, payload, {

        })
        .then((res) => {
          console.log(res.data)
          if (res.data.code == 801) {
            this.$message.success("验证码已发送")
          }
          else {
            this.$message.warn("验证码发送失败")
          }
        })
        .catch((e) => {
          console.warn(e)
          this.$message.warn("验证码发送失败")
        })
      alert("test2")
    },
    handleTabClick(key) {
      this.activeKey = key
      // this.form.resetFields()
    },
    resetPassword() {
      let url = ""
      switch (this.info.role) {
        case 0:
          this.$message.warn("不可修改管理员")
          break;
        case 1:
          url = baseUrl + "/modifyTenant"
          break;
        case 2:
          url = baseUrl + "/modifyUser"
          break;
        case 3:
          url = baseUrl + "/modifyReplier"
          break;
        default:
          this.$message.warn("未知用户")

      }
      if (this.newPassword != this.confirmPassword) {
        this.$message.warn("密码不一致")
        return
      }
      const payload = {
        id: this.info.id,
        password: this.newPassword,
      }
      console.log(payload)
      for (let prop in payload) {

        if (!payload[prop]) {
          this.$message.warn("请将表单填写完整!")
          return
        }
      }

      axios.put(url, payload, {})
        .then((res) => {
          if (res.data.code == 801) {
            this.$message.success("修改成功")
            this.$router.push("/allLogin")
          } else {
            this.$message.warn("修改失败")
            console.warn(res.data)
          }
        })
        .catch((e) => {
          this.$message.error("请求出错")
          console.warn(e)
        })
    }
  }
}
</script>
  
<style scoped >
.formTab {
  width: 380px;
}

.test {
  background: red
}
</style>