<template>
    <div class="fullBlock">
        
        <a-row type="flex" justify="space-between" align="middle" class = "page-header">
            <a-col :span="4">
                <a class="page-header-title">
                问卷系统
                </a>
            </a-col>
            <a-col :span="16">
                <a-menu v-model="current" mode="horizontal" @click="handleNav" >
                <a-menu-item key="userManage" >
                    <a-icon type="user" />用户管理
                </a-menu-item>
                <a-menu-item key="groupManage" >
                    <a-icon type="appstore" />群组管理
                </a-menu-item>
                <a-menu-item key="surveyManage" >
                    <a-icon type="file-done" />问卷管理
                </a-menu-item>
                <!-- <a-menu-item key="surveyManage">
                    <a-icon type="file-done" />问卷管理
                </a-menu-item> -->
            </a-menu>
            </a-col>
            <a-col :span="4">
                <a-dropdown>
                    <span>
                        <a-avatar size="large" :src="currentUser.avatar" />
                        {{currentUser.role}}
                    </span>
                    <template #overlay>
                        <a-menu>
                            <a-menu-item @click = "modifyTenant">
                                <span>
                                    <a-icon type="user" />
                                    账户信息
                                </span>

                            </a-menu-item>
                            <a-menu-item @click = "logout">
                                <span>
                                    <a-icon type="logout" />
                                    注销
                                </span>
                            </a-menu-item>
                        </a-menu>
                    </template>
                </a-dropdown>
            </a-col>
            
        </a-row>
        <router-view />

    </div>


</template>
  
<script>
export default {
    name: 'AdminLayout',
    data() {
        return {
            current: ["tenantManage"],
            currentUser: {
                name: 'Serati Ma',
                avatar: 'https://gw.alipayobjects.com/zos/antfincdn/XAosXuNZyF/BiazfanxmamNRoxxVxka.png'
                ,role:""
            }
        }
    },
    methods: {
        handleNav(e) {
            if (e.key == "userManage") {
                this.$router.push("/tenant/userTable")
            }else if(e.key == "groupManage"){
                this.$router.push("/tenant/groupTable")
            }
            else if (e.key == "surveyManage") {
                alert("暂不开放")
                //this.$router.push("/surveyTable")
            }
        },
        modifyTenant(){
            this.$router.push({path:"/tenant/tenantForm", query:{id:this.$store.state.userInfo.id}})
        },
        logout(){
            this.$router.push({path:"/allLogin"})
        }
    },
    mounted(){
        this.currentUser.name = this.$store.state.userInfo.account
        this.currentUser.role = this.$store.state.userInfo.role
    }
}
</script>
  
<style scoped>
.page-header{
  background: white;
  padding-top:10px;  
}
.page-header-title{
    font: 20px bold;
    color:black;
}

</style>
  